<div class="header">
    <h1>TODOS</h1>
    <input autofocus class="new-todo" name="" placeholder="What needs to be done ..." [value]="text" (keyup)="changeText($event)" (keyup.enter)="addToDo()">
</div>
<section class="main">
    <ul class="todo-list">
            <app-task *ngFor="let toDo of visibleTodos()" [toDo]="toDo" [isEditing]="editingId === this.toDo.id" (setEditingId)="setEditingId($event)"></app-task>
    </ul>
</section>
<div class="footer" *ngIf="!noTask()">
    <span class="todo-count">
        <strong>{{ activeTasksCount() }}</strong>
        {{ itemsLeftCount() }}
    </span>
    <ul class="filters">
        <li>
            <a href="/" [ngClass]="{ selected: filterSig() === filterEnum.all}" (click)="changeFilter($event, filterEnum.all)">All</a>
        </li>
        <li>
            <a href="/" [ngClass]="{ selected: filterSig() === filterEnum.active}" (click)="changeFilter($event, filterEnum.active)">Active</a>
        </li>
        <li>
            <a href="/" [ngClass]="{ selected: filterSig() === filterEnum.completed}" (click)="changeFilter($event, filterEnum.completed)">Completed</a>
        </li>
    </ul>
</div>